@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body,
a,
ul,
figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    list-style: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --primary: #007f56;
    --second: #868686;
    --red: #fe9481;
    --yellow: #fcda92;
    --purple: #9c8cb9;
}